.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100vh;
  background: url(../../assets/image/background.jpg) no-repeat center center
    fixed;
}
