@import "../../../assets/styles/variables";
.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: $border-radius;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  &:disabled {
    background-color: #aaa;
    color: #888;
    cursor: not-allowed;
  }
}

.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
  transition: $transition;
  &:hover {
    background-color: darken(#1ea7fd, 10%);
    box-shadow: 0 5px 10px -5px #1ea7fd;
  }
}

.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.storybook-button--full-width {
  width: 100%;
}
