.container {
  // z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .modal {
    position: relative;

    // padding: 1rem;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    &__title {
      font-size: 1.25rem;
      padding: 0.5rem 1rem;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #153851;
      color: white;
    }
    &__content {
      padding: 2rem 1rem;
    }
  }
  .footer {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    justify-content: flex-end;
    border-top: 1px solid #eee;
  }
}
