.search {
  display: flex;
  position: relative;
  .form-control {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
    &--full-width {
      width: 100%;
    }
    &:focus {
      outline: none;
      border: 1px solid #007bff;
    }
  }
  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
}
