@import "../../assets/styles/variables";
.table {
  border-collapse: collapse;
  box-shadow: 0 10px 20px -15px rgb(0 0 0 / 50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  //   background: green;
  &-head {
    &-row {
      border: 1px solid #ddd;
      border-bottom-width: 3px;

      &__cell {
        border: 1px solid #ddd;
        padding: 0.5rem;
        background: white;
        font-weight: 600;
        text-align: left;
        position: relative;
        button {
          position: absolute;
          padding-right: 0.5rem;
          right: 0;
          top: 0;
          background: none;
          outline: none;
          border: none;
          box-shadow: none;
          font-size: 1rem;
          color: #6e6e6e;
          opacity: 0.5;
          transition: $transition;
          &[data-active="true"] {
            opacity: 1;
            scale: 1.2;
            color: #0697ff;
          }
        }
      }
    }
  }
  &-body {
    &-row {
      background-color: #fafafa;
      &:nth-child(even) {
        background-color: #f0f0f0;
      }
      &__cell {
        border: 1px solid #ddd;

        padding: 0.5rem;
      }
    }
  }
  &-controls {
    border-collapse: collapse;
    box-shadow: 0 10px 20px -15px rgb(0 0 0 / 50%);
    background: rgba($color: #ffffff, $alpha: 0.8);
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__actions {
      display: flex;
      gap: 1rem;
      align-items: center;
      .pegination {
        display: flex;
        gap: 0.5rem;
        align-items: baseline;
        select {
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 0.25rem;
        }
      }
    }
  }
}
