@import "./assets/styles/_variables.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: $body-font;
  position: relative;
  * {
    font-family: $body-font;
  }
}

.blur {
  filter: blur(5px);
}
